.reviews{

}

.reviews-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reviews-item{
   border: 4px solid aqua;
   border-radius: 40px;
   padding: 20px;
}

.reviews-author{
   color: aqua;
}

.reviews-content{
    color: aqua;
}

.reviews-error{
   color: aqua;
}




/* #ff8c00 */




